* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: url(./background-adare-restaurant.jpg);
    background-size: cover;
    height: 200vh;
}
.all {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    padding-top: 5px;
}
.navbar {
    height: 45px;
    background-color: rgba(0, 0, 0, 0.33);
    /* padding-top: 15px; */
    margin-top: 35px;
    display:flex ;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}
nav ul a {
    text-decoration: none;
    display: flex;
    color: aliceblue;
}
nav ul li {
    list-style: none;
}
nav ul {
    display: flex;
    gap: 30px;
    font-size: 12px;
}
.text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
    font-size: 40px;
    /* gap: 60px; */
    padding-left: 240px;
    padding-right: 240px;
}
.text p {
    font-size: 18px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 12px;
}
.text a {
    font-size: 16px;
    color: aliceblue;
    font-weight: bold;
    padding-bottom:80px;
}
footer h6{
    color: aliceblue;
    text-align: center;
    padding-top: 60px;
    font-size: 9px;
}